@tailwind base;
@tailwind components;
@tailwind utilities;

.text-black{
    color:#212121;
}


.clickable {
cursor: pointer;
transition: background-color 200ms linear;
}
.clickable:hover {
    @apply bg-orange-400;
}
.clickable:active {
    @apply bg-orange-600;
}

.clickable2 {
cursor: pointer;
transition: background-color 200ms linear;
}
.clickable2:hover {
    @apply bg-gray-400;
}
.clickable2:active {
    @apply bg-gray-300;
}

.base-btn {
    @apply rounded-t-lg clickable2
}

.active-btn {
    @apply bg-gray-300 rounded-t-lg
}

.input:focus {
    @apply border-2 border-orange-700 outline-none 
}




