@tailwind base;
@tailwind components;
@tailwind utilities;

.text-black{
    color:#212121;
}


.clickable {
cursor: pointer;
transition: background-color 200ms linear;
}
.clickable:hover {
    @apply bg-orange-400;
}
.clickable:active {
    @apply bg-orange-600;
}

.clickable2 {
cursor: pointer;
transition: background-color 200ms linear;
}
.clickable2:hover {
    @apply bg-gray-400;
}
.clickable2:active {
    @apply bg-gray-300;
}

.base-btn {
    @apply rounded-t-lg clickable2
}

.active-btn {
    @apply bg-gray-300 rounded-t-lg
}

.input:focus {
    @apply border-2 border-orange-700 outline-none 
}

.sent {
    max-width: 16rem;
    word-wrap: break-word;
    @apply m-1 flex-initial self-start bg-orange-500 p-1 rounded-r-md
}

.received {
    max-width: 16rem;
    word-wrap: break-word;
    @apply m-1 self-end flex-initial bg-black-3 p-1 rounded-l-md
}




